<style>
.tagbox {
	border: 1px solid #ccc;
	padding: 1em;
	margin-top: 10px;
}
</style>

<%= render 'navi' %>

<%= link_to '新規タグ', new_tag_path, :class => 'btn' %>

<div class="row">
<% @tags.each do |tag| %>
	<%= link_to tag_path(tag) do %>
		<div class="span5 tagbox">
		<%= tag.name %>
		</div>
	<% end %>
<% end %>
</div>
